1. Desenvolvimento Pessoal/1. Aprendendo a Aprender/Certificado Frontal - Aprender a Aprender - Técnicas para seu Autodesenvolvimento.pdf
1. Desenvolvimento Pessoal/1. Aprendendo a Aprender/Certificado Traseiro - Aprender a Aprender - Técnicas para seu Autodesenvolvimento.pdf
2. Iniciante em Programação/01. Mergulhe em Programação com JavaScript/Certificado Frontal - Mergulhe em Programação com JavaScript.pdf
2. Iniciante em Programação/01. Mergulhe em Programação com JavaScript/Certificado Traseiro - Mergulhe em Programação com JavaScript.pdf
2. Iniciante em Programação/02. Explore Funções e Listas/Certificado Frontal - Explore Funções e Listas.pdf
2. Iniciante em Programação/02. Explore Funções e Listas/Certificado Traseiro - Explore Funções e Listas.pdf
2. Iniciante em Programação/03.  ChatGPT Otimizando a Qualidade dos Resultados/Certificado Frontal - ChatGPT Otimizando a Qualidade dos Resultados.pdf
2. Iniciante em Programação/03.  ChatGPT Otimizando a Qualidade dos Resultados/Certificado Traseiro - ChatGPT Otimizando a Qualidade dos Resultados.pdf
2. Iniciante em Programação/04. HTML e CSS - Ambientes de Desenvolvimento, Estrutura de Arquivos e Tags/Certificado Frontal - Ambientes de Desenvolvimento, Estrutura de Arquivos e Tags.pdf
2. Iniciante em Programação/04. HTML e CSS - Ambientes de Desenvolvimento, Estrutura de Arquivos e Tags/Certificado Traseiro - Ambientes de Desenvolvimento, Estrutura de Arquivos e Tags.pdf
2. Iniciante em Programação/05. HTML e CSS - Classes, Posicionamento e Flexbox/Certificado Frontal - Classes, Posicionamento e Flexbox.pdf
2. Iniciante em Programação/05. HTML e CSS - Classes, Posicionamento e Flexbox/Certificado Traseiro - Classes, Posicionamento e Flexbox.pdf
2. Iniciante em Programação/06. HTML e CSS - Cabeçalho, Footer e Variáveis CSS/Certificado Frontal - Cabeçalho, Footer e Variáveis CSS.pdf
2. Iniciante em Programação/06. HTML e CSS - Cabeçalho, Footer e Variáveis CSS/Certificado Traseiro - Cabeçalho, Footer e Variáveis CSS.pdf
2. Iniciante em Programação/07. HTML e CSS - Trabalhando com Responsividade e Publicação de Projetos/Certificado Frontal - Responsividade e Publicação de Projetos.pdf
2. Iniciante em Programação/07. HTML e CSS - Trabalhando com Responsividade e Publicação de Projetos/Certificado Traseiro - Responsividade e Publicação de Projetos.pdf
2. Iniciante em Programação/08.  Git e GitHub - Compartilhando e Colaborando em Projetos/Certificado Frontal - Git e GitHub - Compartilhando e Colaborando em Projetos.pdf
2. Iniciante em Programação/08.  Git e GitHub - Compartilhando e Colaborando em Projetos/Certificado Traseiro - Git e GitHub - Compartilhando e Colaborando em Projetos.pdf
1. Desenvolvimento Pessoal/Artigo 3 - Técnica Pomodoro_ gerencie seu tempo com simplicidade.pdf
1. Desenvolvimento Pessoal/Artigo 4 - Planejando meus estudos.pdf
1. Desenvolvimento Pessoal/Artigo 5 - Estudar todos os dias, e o que mais_ As dicas do Aluno Alura Eduardo Branquinho.pdf
1. Desenvolvimento Pessoal/Artigo 6 - Hábitos - Como melhorá-los.pdf
1. Desenvolvimento Pessoal/2. LinkedIn - Como Fazer o Seu Perfil Trabalhar para Você/Certificado Frontal - LinkedIn.pdf
1. Desenvolvimento Pessoal/2. LinkedIn - Como Fazer o Seu Perfil Trabalhar para Você/Certificado Traseiro - LinkedIn.pdf
2. Iniciante em Programação/Certificado Frontal - Iniciante em Programação.pdf
2. Iniciante em Programação/Certificado Traseiro - Iniciante em Programação.pdf
