2024_07_29__Certificado.pdf

1. Desenvolvimento Pessoal/Artigo 1 - 4 pontos essenciais que o Gui Silveira ja nos ensinou para aprender a aprender.pdf
1. Desenvolvimento Pessoal/Artigo 2 - Planejando estudos.pdf
1. Desenvolvimento Pessoal/Artigo 3 - Técnica Pomodoro_ gerencie seu tempo com simplicidade.pdf
1. Desenvolvimento Pessoal/Artigo 4 - Planejando meus estudos.pdf
1. Desenvolvimento Pessoal/Artigo 5 - Estudar todos os dias, e o que mais_ As dicas do Aluno Alura Eduardo Branquinho.pdf
1. Desenvolvimento Pessoal/Artigo 6 - Hábitos - Como melhorá-los.pdf
1. Desenvolvimento Pessoal/Certificado Frontal - Desenvolvimento Pessoal T7 - ONE.pdf
1. Desenvolvimento Pessoal/Certificado Traseiro - Desenvolvimento Pessoal T7 - ONE.pdf

1. Desenvolvimento Pessoal/1. Aprendendo a Aprender/Artigo 1 - Mapa mental - aprenda a técnica e construa anotações criativas.pdf
1. Desenvolvimento Pessoal/1. Aprendendo a Aprender/Bibliografia Complementar.pdf
1. Desenvolvimento Pessoal/1. Aprendendo a Aprender/Certificado Frontal - Aprender a Aprender - Técnicas para seu Autodesenvolvimento.pdf
1. Desenvolvimento Pessoal/1. Aprendendo a Aprender/Certificado Traseiro - Aprender a Aprender - Técnicas para seu Autodesenvolvimento.pdf
1. Desenvolvimento Pessoal/1. Aprendendo a Aprender/Growth Mindset - Carol Dweck.pdf
1. Desenvolvimento Pessoal/1. Aprendendo a Aprender/Slides - Aprender a Aprender - Técnicas para seu Autodesenvolvimento.pdf

1. Desenvolvimento Pessoal/2. LinkedIn - Como Fazer o Seu Perfil Trabalhar para Você/Artigo 1 - Como definir objetivos no LinkedIn.pdf
1. Desenvolvimento Pessoal/2. LinkedIn - Como Fazer o Seu Perfil Trabalhar para Você/Artigo 2 - Como montar um portfólio de Design.pdf
1. Desenvolvimento Pessoal/2. LinkedIn - Como Fazer o Seu Perfil Trabalhar para Você/Artigo 3 - Mão na massa - como fazer um bom portfólio na área de tecnologia.pdf
1. Desenvolvimento Pessoal/2. LinkedIn - Como Fazer o Seu Perfil Trabalhar para Você/Artigo 4 - Como pedir uma recomendação no LinkedIn da melhor forma possível.pdf
1. Desenvolvimento Pessoal/2. LinkedIn - Como Fazer o Seu Perfil Trabalhar para Você/Certificado Frontal - LinkedIn.pdf
1. Desenvolvimento Pessoal/2. LinkedIn - Como Fazer o Seu Perfil Trabalhar para Você/Certificado Traseiro - LinkedIn.pdf

1. Desenvolvimento Pessoal/3. Foco - Trazendo mais Resultados para o Dia a Dia/Artigo 1 - O dia a dia de um profissional que aprende_ o calendário de estudo.pdf
1. Desenvolvimento Pessoal/3. Foco - Trazendo mais Resultados para o Dia a Dia/Certificado Frontal - Foco - Trazendo Mais Resultados para o Dia a Dia.pdf
1. Desenvolvimento Pessoal/3. Foco - Trazendo mais Resultados para o Dia a Dia/Certificado Traseiro - Foco - Trazendo Mais Resultados para o Dia a Dia.pdf

1. Desenvolvimento Pessoal/4. Hábitos - Da Produtividade às Metas Pessoais/Alura-Hábitos-da-Produtividade-Metas-Pessoais.pdf
1. Desenvolvimento Pessoal/4. Hábitos - Da Produtividade às Metas Pessoais/Artigo 1 - Encontrando melhores formas de trabalhar com o Trello.pdf
1. Desenvolvimento Pessoal/4. Hábitos - Da Produtividade às Metas Pessoais/Artigo 2 - No Time to Read This - Read This.pdf
1. Desenvolvimento Pessoal/4. Hábitos - Da Produtividade às Metas Pessoais/Artigo 3 - Enhanced Brain Correlations during Rest Are Related to Memory for Recent Experiences.pdf
1. Desenvolvimento Pessoal/4. Hábitos - Da Produtividade às Metas Pessoais/Certificado Frontal - Hábitos - Da Produtividade às Metas Pessoais.pdf
1. Desenvolvimento Pessoal/4. Hábitos - Da Produtividade às Metas Pessoais/Certificado Traseiro - Hábitos - Da Produtividade às Metas Pessoais.pdf


2. Iniciante em Programação/Artigo 1 - 5 dúvidas de quem quer iniciar na carreira de programação.pdf
2. Iniciante em Programação/Artigo 2 - VisualStudio Code - instalação, teclas de atalho, plugins e integrações.pdf
2. Iniciante em Programação/Artigo 3 - HTML, CSS e Javascript, quais as diferenças.pdf
2. Iniciante em Programação/Artigo 4 - CSS_ o que é, como usar no HTML e um Guia para iniciar.pdf
2. Iniciante em Programação/Artigo 5 - O que é Git e Github - como configurar e primeiros passos.pdf
2. Iniciante em Programação/Artigo 6 - Iniciando um repositório com Git.pdf
2. Iniciante em Programação/Certificado Frontal - Iniciante em Programação.pdf
2. Iniciante em Programação/Certificado Traseiro - Iniciante em Programação.pdf

2. Iniciante em Programação/01. Mergulhe em Programação com JavaScript/Artigo 1 - Entenda a diferença entre var, let e const no JavaScript _ Alura.pdf
2. Iniciante em Programação/01. Mergulhe em Programação com JavaScript/Artigo 2 - Hoisting no Javascript.pdf
2. Iniciante em Programação/01. Mergulhe em Programação com JavaScript/Artigo 3 - JavaScript - O Que É, Como Aprender e Guia da Linguagem.pdf
2. Iniciante em Programação/01. Mergulhe em Programação com JavaScript/Artigo 4 - O que é JavaScript - Aprendendo desenvolvimento web.pdf
2. Iniciante em Programação/01. Mergulhe em Programação com JavaScript/Artigo 5 - Estilo de codificação - Utilizar ou não ponto e vírgula no fim das linhas em JavaScript.pdf
2. Iniciante em Programação/01. Mergulhe em Programação com JavaScript/Artigo 6 - Gramática léxica - JavaScript _ MDN.pdf
2. Iniciante em Programação/01. Mergulhe em Programação com JavaScript/Artigo 7 - Para saber mais - operadores lógicos.pdf
2. Iniciante em Programação/01. Mergulhe em Programação com JavaScript/Certificado Frontal - Mergulhe em Programação com JavaScript.pdf
2. Iniciante em Programação/01. Mergulhe em Programação com JavaScript/Certificado Traseiro - Mergulhe em Programação com JavaScript.pdf

2. Iniciante em Programação/02. Explore Funções e Listas/Artigo 1 - HTML, CSS e Javascript, quais as diferenças.pdf
2. Iniciante em Programação/02. Explore Funções e Listas/Certificado Frontal - Explore Funções e Listas.pdf
2. Iniciante em Programação/02. Explore Funções e Listas/Certificado Traseiro - Explore Funções e Listas.pdf

2. Iniciante em Programação/03.  ChatGPT Otimizando a Qualidade dos Resultados/Certificado Frontal - ChatGPT Otimizando a Qualidade dos Resultados.pdf
2. Iniciante em Programação/03.  ChatGPT Otimizando a Qualidade dos Resultados/Certificado Traseiro - ChatGPT Otimizando a Qualidade dos Resultados.pdf

2. Iniciante em Programação/04. HTML e CSS - Ambientes de Desenvolvimento, Estrutura de Arquivos e Tags/Certificado Frontal - Ambientes de Desenvolvimento, Estrutura de Arquivos e Tags.pdf
2. Iniciante em Programação/04. HTML e CSS - Ambientes de Desenvolvimento, Estrutura de Arquivos e Tags/Certificado Traseiro - Ambientes de Desenvolvimento, Estrutura de Arquivos e Tags.pdf

2. Iniciante em Programação/05. HTML e CSS - Classes, Posicionamento e Flexbox/Artigo 1 - Nomes de classes no CSS.pdf
2. Iniciante em Programação/05. HTML e CSS - Classes, Posicionamento e Flexbox/Artigo 2 - Reset CSS_ O que é, exemplos, como Criar e usar.pdf
2. Iniciante em Programação/05. HTML e CSS - Classes, Posicionamento e Flexbox/Artigo 3 - Guia de Unidades no CSS.pdf
2. Iniciante em Programação/05. HTML e CSS - Classes, Posicionamento e Flexbox/Artigo 4 - Começar a usar a API Google Fonts.pdf
2. Iniciante em Programação/05. HTML e CSS - Classes, Posicionamento e Flexbox/Artigo 5 - CSS Border_ estilizando com bordas seus elementos CSS.pdf
2. Iniciante em Programação/05. HTML e CSS - Classes, Posicionamento e Flexbox/Artigo 6 - Gap - CSS-Tricks.pdf
2. Iniciante em Programação/05. HTML e CSS - Classes, Posicionamento e Flexbox/Artigo 7 - Flexbox CSS - Guia Completo, Elementos e Exemplos.pdf
2. Iniciante em Programação/05. HTML e CSS - Classes, Posicionamento e Flexbox/Artigo 8 - Para ir mais fundo.pdf
2. Iniciante em Programação/05. HTML e CSS - Classes, Posicionamento e Flexbox/Certificado Frontal - Classes, Posicionamento e Flexbox.pdf
2. Iniciante em Programação/05. HTML e CSS - Classes, Posicionamento e Flexbox/Certificado Traseiro - Classes, Posicionamento e Flexbox.pdf

2. Iniciante em Programação/06. HTML e CSS - Cabeçalho, Footer e Variáveis CSS/Artigo 1 - CSS Border - estilizando com bordas seus elementos.pdf
2. Iniciante em Programação/06. HTML e CSS - Cabeçalho, Footer e Variáveis CSS/Artigo 2 - Para saber mais - dicas de projeto.pdf
2. Iniciante em Programação/06. HTML e CSS - Cabeçalho, Footer e Variáveis CSS/Artigo 3 - Para ir mais fundo.pdf
2. Iniciante em Programação/06. HTML e CSS - Cabeçalho, Footer e Variáveis CSS/Certificado Frontal - Cabeçalho, Footer e Variáveis CSS.pdf
2. Iniciante em Programação/06. HTML e CSS - Cabeçalho, Footer e Variáveis CSS/Certificado Traseiro - Cabeçalho, Footer e Variáveis CSS.pdf

2. Iniciante em Programação/07. HTML e CSS - Trabalhando com Responsividade e Publicação de Projetos/Artigo 1 - Guia de Unidades no CSS.pdf
2. Iniciante em Programação/07. HTML e CSS - Trabalhando com Responsividade e Publicação de Projetos/Artigo 2 - Para ir mais fundo.pdf
2. Iniciante em Programação/07. HTML e CSS - Trabalhando com Responsividade e Publicação de Projetos/Certificado Frontal - Responsividade e Publicação de Projetos.pdf
2. Iniciante em Programação/07. HTML e CSS - Trabalhando com Responsividade e Publicação de Projetos/Certificado Traseiro - Responsividade e Publicação de Projetos.pdf

2. Iniciante em Programação/08.  Git e GitHub - Compartilhando e Colaborando em Projetos/Artigo 1 - Chave SSH.pdf
2. Iniciante em Programação/08.  Git e GitHub - Compartilhando e Colaborando em Projetos/Artigo 2 - Nova exigência do Git de autenticação por token, o que é e o que devo fazer.pdf
2. Iniciante em Programação/08.  Git e GitHub - Compartilhando e Colaborando em Projetos/Artigo 3 - Open source - o que é e como funciona o código aberto.pdf
2. Iniciante em Programação/08.  Git e GitHub - Compartilhando e Colaborando em Projetos/Artigo 4 - Resolvendo conflitos com Visual Studio Code Merge Editor.pdf
2. Iniciante em Programação/08.  Git e GitHub - Compartilhando e Colaborando em Projetos/Artigo 5 - Como escrever um README incrível no seu Github.pdf
2. Iniciante em Programação/08.  Git e GitHub - Compartilhando e Colaborando em Projetos/Artigo 6 - Como criar um README para o seu perfil do GitHub.pdf
2. Iniciante em Programação/08.  Git e GitHub - Compartilhando e Colaborando em Projetos/Certificado Frontal - Git e GitHub - Compartilhando e Colaborando em Projetos.pdf
2. Iniciante em Programação/08.  Git e GitHub - Compartilhando e Colaborando em Projetos/Certificado Traseiro - Git e GitHub - Compartilhando e Colaborando em Projetos.pdf
2. Iniciante em Programação/08.  Git e GitHub - Compartilhando e Colaborando em Projetos/Git e GitHub_ compartilhando e colaborando em projetos_ Aula 1 - AtividaArtigo 2 -  O comando git remote.pdf
2. Iniciante em Programação/08.  Git e GitHub - Compartilhando e Colaborando em Projetos/GitHub Student Developer Pack.pdf

2. Iniciante em Programação/09. Praticando lógica de programação Challenge Decodificador de Texto/Certificado Frontal - Praticando Lógica de Programação - Challenge Decodificador de Texto.pdf
2. Iniciante em Programação/09. Praticando lógica de programação Challenge Decodificador de Texto/Certificado Traseiro - Praticando Lógica de Programação - Challenge Decodificador de Texto.pdf
