@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet');

:root{
    --background-primary-color: #F3F5FC;
    --background-secondary-color: #FFFFFF;
    --button-first-color: #0A3871;
    --button-second-color: #D8DFE8;
    --hover-color: #757FB2;

    --font-main-color: #0A3871;
    --font-contrast-color: #000000;
    --font-extra-color: #FFFFFF;
    --font-warning: #495057;
    
    --font-main: 'Inter', sans-serif;

    --conteudo: 90%;

    --conteudo__texto__input: 80%;
    --conteudo__texto__alerta__height: 16px;
}

*{
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    height: 100vh;
}

.cabecalho{
    height: calc((100% - var(--conteudo))/2);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: var(--button-first-color);
    
}

.cabecalho__titulo{
    font-family: var(--font-main);
    color: var(--font-extra-color);
    font-size: 32px;
    width: 650px;
}

.conteudo{
    height: var(--conteudo);
    box-sizing: border-box;
    background-color: var(--background-primary-color);
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 40px;
}

.conteudo__logo{
    width: 120px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.conteudo__logo__alura{
    width: 32px;
}

.conteudo__texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 680px;
    padding: 128px 0px 0px 0px;
    flex-grow: 1;
}

.conteudo__texto__input{
    background-color: transparent;
    font-family: var(--font-main);
    font-size: 32;
    color: var(--font-main-color);
    width: 100%;
    height: var(--conteudo__texto__input);
    text-align: ;
    border: none;
    resize: none;
    line-height: 150%;
}

.conteudo__texto__alerta{
    display: flex;
    justify-content: left;
    align-items: center;
    height: var(--conteudo__texto__alerta__height);
    width: 100%;
    gap: 8px;
}

.conteudo__texto__alerta__imagem{
    height: 100%;
}

.conteudo__texto__alerta__texto{
    font-family: var(--font-main);
    color: var(--font-warning);
    font-size: 12px;
}

.conteudo__texto__botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - var(--conteudo__texto__input) - var(--conteudo__texto__alerta__height));
    gap: 24px;
}
.conteudo__texto__botoes__criptografar{
    width: 330px;
    padding: 24px;
    font-size: 16px;
    font-family: var(--font-main);
    color: var(--font-extra-color);
    background-color: var(--button-first-color);
    border-radius: 24px;
}

.conteudo__texto__botoes__criptografar:hover{
    background-color: var(--hover-color);
}

.conteudo__texto__botoes__descriptografar{
    width: 330px;
    padding: 24px;
    font-size: 16px;
    font-family: var(--font-main);
    color: var(--font-main-color);
    background-color: var(--button-second-color);
    border-radius: 24px;
}

.conteudo__texto__botoes__descriptografar:hover{
    background-color: var(--hover-color);
}

.conteudo__resultado{
    width: 400px;
}









.rodape{
    height: calc((100% - var(--conteudo))/2);
    box-sizing: border-box;
    background-color: var(--button-first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rodape__texto{
    font-family: var(--font-main);
    color: var(--font-extra-color);
    font-size: 16px;
}